@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    background-color: #FFD29D;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 16px
}
img {
    width: 30px;
h1 {
    color:midnightblue;
    font-size: 64px;
}
p {
    color:navy;
    font-size: 24px;
}
h2 {
    color: midnightblue;
    font-size: 48px;
}
h3 {
    color: midnightblue;
    font-size: 36px;
}
.links {
    text-align: center;
    color:blueviolet ;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: blueviolet;
    

}
.nav_bar {
display: flex;
flex-flow: coloumn wrap;
justify-content: right ;
background-color: purple;
}
